


html {
    background-color: #5d6272e3;
    /* nền ngoài */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 0;
    padding: 0 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-orange {
    color: #1489f7;
    /* chữ open  */
}

.light-blue {
    color: #2963f5;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}


#main {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 411px;
    max-width: 411px;
    min-height: 823px;
    background-color: #818181;
    /*nền tronggg */
    border-radius: 30px;
    -webkit-box-shadow: 7px 7px 20px -5px rgba(223, 120, 2, 0.4); 
    box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.1);

}

.container {
    padding: 0 15px;
    /* display: grid; */
    /* row-gap: 15px; */
    /* kích thước bìa */
}

#cover-image {
    background-position: center;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 411px;
    height: 165px;
    position: relative;
    left: -15px;
}

#profile-header {
    position: relative;
    display: grid;
    grid-template-columns: 120px auto;
    column-gap: 15px;
    margin-bottom: -10px;
}

#avatar-image {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    top: -25px;
}

#name {
    position: relative;
    padding-top: 5px;
}

.names {
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}

#skills { 
    padding-top: 5px;
    margin-left: 5px;
}

.skill-item {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;   
    height: 20px;
    margin-right: 10px;
    width: auto;
    
}

.skill-item::before {
    position: absolute;
    content: "";
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 18px;
    background-color: currentColor;
    opacity: 0.2;
    border-radius: 5px;
}


.bio-story {
    position: relative;
    display: grid;
    grid-template-columns: 70px auto;
    height: 70px;
    width: 100%;
    background-color: #faf6d6;
    /* màu phông thanh liên hệ */
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 20px -5px rgba(192, 22, 22, 0.4); 
    box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.bio-story-thumb{
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 10px 10px;
}

.bio-story-content p{
    position: relative;
    font-size: 15px;
    margin-top: 18px;
    font-weight: 500;
}

.bio-story-content span{
    position: absolute;
    font-size: 12px;
    bottom: 15px;
    color: #154fe2;
    /* màu chữ */
    font-weight: 500;
}


/* ============= CONTENT BODY =============== */

#content-body {
    position: relative;
    margin-top: 20px;
    max-width: 100%;
}

.drop-title {
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}

#link-box {
    position: relative;
    width: 100%;
}

.link-item {
    position: relative;
    display: grid;
    grid-template-columns: 70px auto 65px;
    height: 70px;
    width: 100%;
    background-color: rgb(248,244,214);
    /* màu phông liên kết */
    border-radius: 20px;
    margin-bottom: 15px;
    -webkit-box-shadow: 7px 7px 20px -5px rgba(248, 79, 79, 0.4); 
    box-shadow: 7px 7px 20px -5px rgba(44, 43, 44, 0.89);
    /* tạo bóng cho khung liên kết */
    transition: all 250ms ease-in-out;
}

.link-item:hover {
    background-color: #faf7bd;
    /*màu phông liên kết khi đưa chuột vào */
}

.link-content {
    padding-top: 15px;
}

.link-content p {
    margin : 0;
    font-weight: 600;
}

.link-content span {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    bottom: 15px;
    color: #154fe2;
    /* chữ của phần khung liên kết */

    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    transition: all 250ms;
    cursor: pointer;
}

.link-content span:hover {
    color: #7c7e83;
}

.link-btn-chill{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 15px;
    font-size: 14px;
    width: auto;
    font-weight: 600;

}

.link-btn-chill::before{
    position: absolute;
    content: "";
    padding-left: 7px;
    padding-right: 7px;
    width: 40px;
    height: 18px;
    background-color: currentColor;
    opacity: 0.2;
    border-radius: 5px;
    top: -1px;
    transition: all 250ms;
}

.link-btn-chill {
    transition: all 250ms ease-in-out;
}

.link-btn-chill:hover::before {
    opacity: 0.5;
}
.fas {
    font-size: medium;
    margin-left: 5px;
    color: hsl(229, 84%, 54%);
    padding-bottom: 5px;
}
